body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}
.navbar{
  width: 100%;
  height: 75px;
  box-shadow: 0 4px 10px;
background-color: yellow;}

	.navbar.container{
		height:inherit;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
 .navbar-menu{
	list-style-type: none;
	padding-left: 0%;
	margin-bottom: 0%;
 }
 .navbar-menu li{
	display:inline-block;
 }
 .navbar-menu li a{
	font-weight: 300;
	font-size: 25px;
	color: coral;
	opacity: 0,5;
	padding: 1cm;
 }
 .navbar-menu li a:hover{
	color: black;
	opacity: 1;
 }
 /* .navbar-menu li a:hover{
	opacity: 0; допомогло підсвічувати елементи банера */
 .navbar-wrap{
	display: flex;
	flex-flow: row nowrap;
 }
 .callback{
	margin-left: 30px;
	font-weight: 300;
	font-size: 25px;
	padding: 10px 30px;
	color: coral;
	background-color: lightgoldenrodyellow;
	border-radius: 100px;

 }
 .callback:hover{
	color: black;
  opacity:1;
 }
.navbar-brand{
	font-weight: 900;
	font-size: 30px;
	text-decoration: none;
	color: black;
	padding: 1cm;
}
.navbar-brand:hover{
	color: coral;
	opacity: 1;
}
.products-container{
	display:grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
width: 80%;
max-width: 1200px;
margin: auto;
grid-gap: 20px;
}
.products-element{
margin-top: 1cm;
display: flex;
flex-direction: column;
padding: 30px 20px;
background-color: lightslategrey;
border-radius: 10px;
box-shadow: inset;
}
.products-element_img{
	width: 90%;
	height: 270px;
	padding-bottom: 1cm;
border-radius: 10px;
}
.products-element_btn:hover{
	border-radius: 10px;
	color:coral;
	font-weight:bolder;
}
.products-element_btn{
	border: 2px solid;
}
.products-element_brands:hover{
	transition-duration: 1s;
	font-weight: bold;
}
.products-element_videos.video{
	color:aqua;
}